@import "tailwindcss";

body{
  background:#00050f;
  color:white;
  overflow-x:hidden;
}

.circuit-bg{
  background-image:
    radial-gradient(
      circle at 2px 2px,
      rgba(0,255,255,.08) 1px,
      transparent 0
    );

  background-size:40px 40px;
}

.glow-border{
  box-shadow:0 0 15px rgba(0,255,255,.4);
}

.glass{
  background:rgba(255,255,255,.05);
  backdrop-filter:blur(20px);
  border:1px solid rgba(255,255,255,.1);
}